/* ======================================================
   全书布局
====================================================== */


/* ======================================================
   工作区基础布局
====================================================== */

.workspace {
    position: relative;

    width: 3000px;
    height: 3000px;

    flex-shrink: 0;
}


/* ======================================================
   纵向布局
   后面用于：
   书名
     ↓
   卷
     ↓
   篇
     ↓
   章
====================================================== */

.layout-vertical {
    position: relative;
}


/* ======================================================
   横向布局
   后面用于：
   书名 → 卷 → 篇 → 章
====================================================== */

.layout-horizontal {
    position: relative;
}
